{% extends "index.html" %}

{% block content %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
  <h3 class="post-tags">[
  {% for tag in page.taxonomies.tags %}
  <a href="/tags/{{ tag }}">{{ tag }}</a>
  {% endfor %}
  ]</h3>
  {{ page.content | safe }}
</div>

<footer>
  <p style="text-align: center;">If it was helpful, consider giving a star ⭐:</p>
  <!-- Place this tag where you want the button to render. -->
  <div style="text-align: center;">
    <a class="github-button" href="https://github.com/patrickelectric/patrickelectric.github.io" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star patrickelectric/patrickelectric.github.io on GitHub">Star</a>
  </div>
</footer>

{% block scripts %}
  {% if config.extra.utterances %}
  <script
    src="https://utteranc.es/client.js"
    repo="{{config.extra.utterances}}"
    issue-term="{{config.extra.utterances_issue_term}}"
    label="{{config.extra.utterances_label}}"
    theme="{{config.extra.utterances_theme}}"
    crossorigin="anonymous"
    async
  ></script>
  {% endif %}
{% endblock %}

{% endblock content %}
